html {
	height: 100%;
}

body {
	margin: 2rem;
	font: 12px system-ui;
	height: 100%;
}

#contents {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#header {
	align-self: flex-end;
	display: flex;
}

#welcomeLine {
	align-self: center;
}

#canvasContainer {
	margin: auto;
}

#canvas {
	grid-gap: 0.5rem;
}

.cell {
	border: 1rem gray solid;
}

.drawn {
	border: 1rem aquamarine solid;
}
