html {
	height: 90%;
}

body {
	margin: 2rem;
	font: 12px system-ui;
	height: 100%;
}

#contents {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#header {
	align-self: flex-end;
	display: flex;
}

#welcomeLine {
	align-self: center;
}

#canvas {
	margin: auto;
//	gap: 0.2rem;
	height: 80%;
	width: 80%
}

.cell {
	background: grey;
	border: 1px darkgrey solid;
}

.drawn {
	background: aquamarine;
}
